<!doctype html>

<html ng-app="taskboardApp">
<head>
    <title>Personal Kanban</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/taskboard.css">

    <!-- scripts -->
    <script src="lib/jquery.min.js"></script>
    <script src="lib/jquery-ui.min.js"></script>
    <script src="lib/angular.js"></script>
    <script src="lib/sortable.min.js"></script>
    <script src="lib/moment.min.js"></script>
    <script src="js/config.js"></script>
    <script src="js/app.js"></script>
</head>

<body ng-controller="taskboardController" ng-init="init()" >
    <div class="taskboard container-fluid">

        <!-- filter bar -->
        <section id="filterbar" class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-addon">
                        <button class="btn btn-default btn-xs" aria-label="Refresh" type="button" onclick="window.location.reload();"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                    </div>

                    <!--<div class="input-group-addon"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span></div>-->
                    <div ng-show="(search != undefined)" class="input-group-addon">
                        <button class="btn btn-default btn-xs" aria-label="Clear" type="button" ng-click="search = undefined"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                    </div>
                    <input type="text" name="search" ng-model="search" class="form-control" placeholder="Filter" />
                </div>
            </div>
        </section> <!-- filter bar -->

        <!-- tasklanes section, row 1 -->
        <section class="row">

            <!-- backlog -->
            <div class="tasklane col-sm-3 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h5>{{ general_config.BACKLOG_FOLDER.Title }}
                            <span class="pull-right">
                                <button class="btn btn-default btn-xs" aria-label="Add" type="button" ng-click="addTask('backlog');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>                                
                            </span>
                        </h5>
                    </header>
                    <ul id="backlogList" ui-sortable="sortableOptions" ng-model="backlogTasks" class="panel-body tasklist list-unstyled">
                        <li ng-repeat="task in backlogTasks | filter:search" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }" ng-dblclick="editTask(task)">
                            <header class="panel-heading">
                                {{ task.subject }}                                
                                <span ng-show="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">{{ task.duedate | date:'MM/dd/yy' }}</span>
                            </header>
                            <footer class="text-right">
                                <div ng-if="(task.categories != '')" class="pull-left small"><span class="glyphicon glyphicon-tag"></span> {{ task.categories }} &nbsp; &nbsp;</div>
                                <div ng-if="(task.notes.substring(0,12) == '------------')" class="pull-left"><span class="glyphicon glyphicon-envelope"></span></div>
                                <div ng-if="(task.notes != '' && task.notes.substring(0,12) != '------------')" class="pull-left"><span class="glyphicon glyphicon-align-left"></span></div>
                                <span class="btn-group btn-group-xs">
                                    <button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,backlogTasks)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </span>
                            </footer>
                        </li>
                    </ul>
                </div>
            </div> <!-- backlog -->

            <!-- todo -->
            <div class="tasklane col-sm-3 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <header class="panel-heading ">
                        <h5>{{ general_config.NEXT_FOLDER.Title  }}
                            <span class="pull-right">
                                <button class="btn btn-default btn-xs" aria-label="Add" type="button" ng-click="addTask('next');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </span>
                        </h5>
                    </header>
                    <ul id="nextList" ui-sortable="sortableOptions" ng-model="nextTasks" class="panel-body tasklist list-unstyled">
                        <li ng-repeat="task in nextTasks | filter:search" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }" ng-dblclick="editTask(task)">
                            <header class="panel-heading">
                                {{ task.subject }}
                                <span ng-show="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">{{ task.duedate | date:'MM/dd/yy' }}</span>
                            </header>
                            
                            <footer class="text-right">
                                <div ng-if="(task.categories != '')" class="pull-left small"><span class="glyphicon glyphicon-tag"></span> {{ task.categories }} &nbsp; &nbsp;</div>
                                <div ng-if="(task.notes.substring(0,12) == '------------')" class="pull-left"><span class="glyphicon glyphicon-envelope"></span></div>
                                <div ng-if="(task.notes != '' && task.notes.substring(0,12) != '------------')" class="pull-left"><span class="glyphicon glyphicon-align-left"></span></div>
                                <span class="btn-group btn-group-xs">
                                    <button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,nextTasks)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </span>
                            </footer>

                        </li>
                    </ul>
                </div>
            </div> <!-- todo -->

            <!-- in progress  -->
            <div class="tasklane col-sm-3 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h5>{{ general_config.INPROGRESS_FOLDER.Title }}
                            <span class="pull-right">
                                <button class="btn btn-default btn-xs" aria-label="Add" type="button" ng-click="addTask('inprogress');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                            </span>
                        </h5>
                    </header>
                    <ul id="inprogressList" ui-sortable="sortableOptions" ng-model="inprogressTasks" class="panel-body tasklist list-unstyled">
                        <li ng-repeat="task in inprogressTasks | filter:search" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }" ng-dblclick="editTask(task)">
                            <header class="panel-heading">
                                {{ task.subject }}
                                <span ng-show="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">{{ task.duedate | date:'MM/dd/yy' }}</span>
                            </header>
                            
                            <footer class="text-right">
                                <div ng-if="(task.categories != '')" class="pull-left small"><span class="glyphicon glyphicon-tag"></span> {{ task.categories }} &nbsp; &nbsp;</div>
                                <div ng-if="(task.notes.substring(0,12) == '------------')" class="pull-left"><span class="glyphicon glyphicon-envelope"></span></div>
                                <div ng-if="(task.notes != '' && task.notes.substring(0,12) != '------------')" class="pull-left"><span class="glyphicon glyphicon-align-left"></span></div>
                                <span class="btn-group btn-group-xs">
                                    <button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,inprogressTasks)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>                                    
                                </span>
                            </footer>
                        </li>
                    </ul>
                </div>
            </div> <!-- in progress -->

            <!-- completed -->
            <div class="tasklane col-sm-3 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h5>{{ general_config.COMPLETED_FOLDER.Title }}
                        </h5>
                    </header>
                    <ul id="completedList" ui-sortable="sortableOptions" ng-model="completedTasks" class="panel-body tasklist list-unstyled">
                        <li ng-repeat="task in completedTasks | filter:search" class="task panel task-completed" ng-dblclick="editTask(task)">
                            <header class="panel-heading">
                                {{ task.subject }}
                                <span ng-show="(task.duedate | date:'yyyy' ) != '4501'" class="pull-right">(Due: {{ task.duedate | date:'MM/dd/yy' }}) </span>
                            </header>
                            
                            <footer class="text-right">
                                <div ng-if="(task.categories != '')" class="pull-left small"><span class="glyphicon glyphicon-tag"></span> {{ task.categories }} &nbsp; &nbsp;</div>
                                <div ng-if="(task.notes.substring(0,12) == '------------')" class="pull-left"><span class="glyphicon glyphicon-envelope"></span></div>
                                <div ng-if="(task.notes != '' && task.notes.substring(0,12) != '------------')" class="pull-left"><span class="glyphicon glyphicon-align-left"></span></div>
                                <span class="btn-group btn-group-xs">
                                    <button class="btn btn-default btn-xs" aria-label="Archive" type="button" ng-click="archiveTask(task,completedTasks)"><span class="glyphicon glyphicon-check" aria-hidden="true"></span></button>                           
                                </span>
                            </footer>
                        </li>
                    </ul>
                </div>
            </div> <!-- completed -->

        </section> <!-- tasklanes section, row 1 -->

        <!-- tasklanes section, row 2 -->
        <section class="row">
            <!-- requests -->
            <div class="tasklane col-sm-3 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h5>{{ general_config.REQUESTS_FOLDER.Title }}
                            <span class="pull-right">
                                <button class="btn btn-default btn-xs" aria-label="Add" type="button" ng-click="addTask('requests');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>                                
                            </span>
                        </h5>
                    </header>
                    <ul id="requestsList" ui-sortable="sortableOptions" ng-model="requestsTasks" class="panel-body tasklist list-unstyled">
                        <li ng-repeat="task in requestsTasks | filter:search" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }" ng-dblclick="editTask(task)">
                            <header class="panel-heading">
                                {{ task.subject }}
                                <span ng-show="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">{{ task.duedate | date:'MM/dd/yy' }}</span>
                            </header>
                            
                            <footer class="text-right">
                                <div ng-if="(task.categories != '')" class="pull-left small"><span class="glyphicon glyphicon-tag"></span> {{ task.categories }} &nbsp; &nbsp;</div>
                                <div ng-if="(task.notes.substring(0,12) == '------------')" class="pull-left"><span class="glyphicon glyphicon-envelope"></span></div>
                                <div ng-if="(task.notes != '' && task.notes.substring(0,12) != '------------')" class="pull-left"><span class="glyphicon glyphicon-align-left"></span></div>
                                <span class="btn-group btn-group-xs">                                    
                                    <button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,requestsTasks)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </span>
                            </footer>
                        </li>
                    </ul>
                </div>
            </div> <!-- requests -->

            <!-- emails -->
            <div class="tasklane col-sm-3 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h5>{{ general_config.EMAILS_FOLDER.Title }}
                            <span class="pull-right">
                                <button class="btn btn-default btn-xs" aria-label="Add" type="button" ng-click="addTask('emails');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>                                
                            </span>
                        </h5>
                    </header>
                    <ul id="emailsList" ui-sortable="sortableOptions" ng-model="emailsTasks" class="panel-body tasklist list-unstyled">
                        <li ng-repeat="task in emailsTasks | filter:search" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }" ng-dblclick="editTask(task)">
                            <header class="panel-heading">
                                {{ task.subject }}
                                <span ng-show="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">{{ task.duedate | date:'MM/dd/yy' }}</span>
                            </header>
                            
                            <footer class="text-right">
                                <div ng-if="(task.categories != '')" class="pull-left small"><span class="glyphicon glyphicon-tag"></span> {{ task.categories }} &nbsp; &nbsp;</div>
                                <div ng-if="(task.notes.substring(0,12) == '------------')" class="pull-left"><span class="glyphicon glyphicon-envelope"></span></div>
                                <div ng-if="(task.notes != '' && task.notes.substring(0,12) != '------------')" class="pull-left"><span class="glyphicon glyphicon-align-left"></span></div>                                
                                <span class="btn-group btn-group-xs">                                    
                                    <button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,emailsTasks)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </span>
                            </footer>
                        </li>
                    </ul>
                </div>
            </div> <!-- emails -->

            <!-- tasks -->
            <div class="tasklane col-sm-3 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h5>{{ general_config.TASKS_FOLDER.Title }}
                            <span class="pull-right">
                                <button class="btn btn-default btn-xs" aria-label="Add" type="button" ng-click="addTask('tasks');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>                                
                            </span>
                        </h5>
                    </header>
                    <ul id="tasksList" ui-sortable="sortableOptions" ng-model="tasksTasks" class="panel-body tasklist list-unstyled">
                        <li ng-repeat="task in tasksTasks | filter:search" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }" ng-dblclick="editTask(task)">
                            <header class="panel-heading">
                                {{ task.subject }}
                                <span ng-show="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">{{ task.duedate | date:'MM/dd/yy' }}</span>
                            </header>
                            
                            <footer class="text-right">
                                <div ng-if="(task.categories != '')" class="pull-left small"><span class="glyphicon glyphicon-tag"></span> {{ task.categories }} &nbsp; &nbsp;</div>
                                <div ng-if="(task.notes.substring(0,12) == '------------')" class="pull-left"><span class="glyphicon glyphicon-envelope"></span></div>
                                <div ng-if="(task.notes != '' && task.notes.substring(0,12) != '------------')" class="pull-left"><span class="glyphicon glyphicon-align-left"></span></div>
                                <span class="btn-group btn-group-xs">
                                    <button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,tasksTasks)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </span>
                            </footer>
                        </li>
                    </ul>
                </div>
            </div> <!-- tasks -->

            <!-- waiting -->
            <div class="tasklane col-sm-3 col-md-3 col-lg-3">
                <div class="panel panel-default">
                    <header class="panel-heading">
                        <h5>{{ general_config.WAITING_FOLDER.Title }}
                            <span class="pull-right">
                                <button class="btn btn-default btn-xs" aria-label="Add" type="button" ng-click="addTask('waiting');"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>                                
                            </span>
                        </h5>
                    </header>
                    <ul id="waitingList" ui-sortable="sortableOptions" ng-model="waitingTasks" class="panel-body tasklist list-unstyled">
                        <li ng-repeat="task in waitingTasks | filter:search" class="task panel" ng-class=" { 'task-low' : task.priority === 0, 'task-medium' : task.priority === 1, 'task-high' : task.priority === 2, 'task-private': task.sensitivity === 2 }" ng-dblclick="editTask(task)">
                            <header class="panel-heading">
                                {{ task.subject }}
                                <span ng-show="(task.duedate | date:'yyyy' ) != '4501'" ng-class="isOverdue(task.duedate)" class="pull-right">{{ task.duedate | date:'MM/dd/yy' }}</span>
                            </header>
                            
                            <footer class="text-right">
                                <div ng-if="(task.categories != '')" class="pull-left small"><span class="glyphicon glyphicon-tag"></span> {{ task.categories }} &nbsp; &nbsp;</div>
                                <div ng-if="(task.notes.substring(0,12) == '------------')" class="pull-left"><span class="glyphicon glyphicon-envelope"></span></div>
                                <div ng-if="(task.notes != '' && task.notes.substring(0,12) != '------------')" class="pull-left"><span class="glyphicon glyphicon-align-left"></span></div>
                                <span class="btn-group btn-group-xs">                                    
                                    <button class="btn btn-default btn-xs" aria-label="Delete" type="button" ng-click="deleteTask(task,waitingTasks)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
                                </span>
                            </footer>
                        </li>
                    </ul>
                </div>
            </div> <!-- waiting -->

        </section> <!-- tasklanes section, row 2 -->
    </div>
</body>
</html>
